# MOVIE COLLECTION PREDICTION

## EDA FOR MOVIE COLLECTION

### IGNORE WARNINGS

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

### LIST OF FILES IN THE DIRECTORY

In [2]:
import os
os.listdir()

['README.md',
 'Movie_collection.ipynb',
 '.git',
 'LICENSE',
 'movie_collection.csv',
 '.ipynb_checkpoints']

### IMPORTING REQUIRED LIBRARIES

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### IMPORTING AND READING THE DATASET

In [4]:
data = pd.read_csv('movie_collection.csv')
pd.set_option('max_columns', None)
data.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,Thriller,23,PG,494,YES
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,Drama,42,PG,462,NO
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,Comedy,38,PG,458,NO
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,Drama,45,PG,472,YES
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,Drama,55,PG,395,NO

### NUMBER OF ROWS AND COLUMNS IN DATASET

In [5]:
rows, columns = data.shape
print(f'The dataset has {rows} rows and {columns} columns')

The dataset has 506 rows and 19 columns

### BASIC INFO ON THE DATASET

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           506 non-null    int64
 1   Marketin_expense     506 non-null    float64
 2   Production_expense   506 non-null    float64
 3   Multiplex_coverage   506 non-null    float64
 4   Budget               506 non-null    float64
 5   Movie_length         506 non-null    float64
 6   Lead_ Actor_Rating   506 non-null    float64
 7   Lead_Actress_rating  506 non-null    float64
 8   Director_rating      506 non-null    float64
 9   Producer_rating      506 non-null    float64
 10  Critic_rating        506 non-null    float64
 11  Trailer_views        506 non-null    int64
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  MPAA_film_rating     506 non-null    object
 17  Num_multiplex        506 non-null    int64
 18  3D_available         506 non-null    object
dtypes: float64(12), int64(4), object(3)
memory usage: 75.2+ KB

### NUMBER OF FEATURES AND PERCENTAGE OF NULL VALUES

In [7]:
# number of numerical and categorical features
num, obj = 0, 0
for feature in data:
    if data[feature].dtype == 'O':
        obj += 1
    else:
        num += 1
print('NUMBER OF NUMERICAL AND CATEGORICAL FEATURES:')
print(f'The dataset has {num} numerical features and {obj} categorical features')

# Percentage of missing values
print('\nPERCENTAGE MISSING VALUES:')
for feature in data:
    if data[feature].isnull().sum()!=0:
        print(f"The feature '{feature}' has {np.round((data[feature].isnull().mean()*100),2)}% missing values")

NUMBER OF NUMERICAL AND CATEGORICAL FEATURES:
The dataset has 16 numerical features and 3 categorical features

PERCENTAGE MISSING VALUES:
The feature 'Time_taken' has 2.37% missing values

### LOOKING FOR DUPLICATES IN THE DATASET

In [8]:
drows, dcolumns = data[data.duplicated()].shape
print('There are no duplicates in the dataset.' if drows==0 else f'There are {drows} duplicates in the dataset.')

There are no duplicates in the dataset.

### NUMBER OF UNIQUE CATEGORICAL FEATURES

In [9]:
for feature in data:
    if data[feature].dtype == 'O':
        if len(data[feature].unique()) == 1:
            print(f'** {feature} has 1 unique value **')
        else:
            print(f'{feature} has {len(data[feature].unique())} unique value')

Genre has 4 unique value
** MPAA_film_rating has 1 unique value **
3D_available has 2 unique value

### NUMBER OF UNIQUE NUMERICAL FEATURES

In [10]:
for feature in data:
    if data[feature].dtype!='O':
        if len(data[feature].unique())==1:
            print(f'** {feature} has {len(data[feature].unique())} unique vaue **')
        else:
            print(f'{feature} has {len(data[feature].unique())} unique vaue')

Collection has 228 unique vaue
Marketin_expense has 504 unique vaue
Production_expense has 76 unique vaue
Multiplex_coverage has 81 unique vaue
Budget has 446 unique vaue
Movie_length has 356 unique vaue
Lead_ Actor_Rating has 339 unique vaue
Lead_Actress_rating has 354 unique vaue
Director_rating has 339 unique vaue
Producer_rating has 353 unique vaue
Critic_rating has 74 unique vaue
Trailer_views has 504 unique vaue
Time_taken has 450 unique vaue
Twitter_hastags has 423 unique vaue
Avg_age_actors has 42 unique vaue
Num_multiplex has 293 unique vaue

In [11]:
# "MPAA_film_rating" has only one unique value. So, it can be removed since it has no contribution to analysis

del data['MPAA_film_rating']

### NUMBER OF COLUMNS AFTER REMOVING 3 FEATURES

In [12]:
rows, columns = data.shape
print(f'The dataset has {columns} columns')

The dataset has 18 columns

### OBSERVATION ON TARGET VARIABLE